body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* white */
    background-image: url('./images/background.jpg');
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: bottom right; /* lock image to the right */ 
}

#gallery {
    position: relative;
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; /* White */
    /* box-shadow: inset 0 0 5px 10px #000,0 0 10px 10px rgba(255, 255, 255, 0.3); /* Add a glow effect */
}

.draggable {
    position: absolute;
    width: 25vw;
    height: auto;
    cursor: grab;
    user-select: none;
    box-shadow: 0 0 0 5px #fff inset;
    padding: 5px;
}

@media (max-width: 600px) {
    #gallery {
        width: 80vw;
        height: 80vh;
    }
    .draggable {
        width: 50vw;
    }
}